WebServiceCliente/src/conf/xml-resources/web-service-references/ConsultaClientes/wsdl/localhost_8080/WebServices/ConsultaClientes.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="ConsultaClientes">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/WebServices/ConsultaClientes?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="consultaXCedula">
<part name="parameters" element="tns:consultaXCedula"/>
</message>
<message name="consultaXCedulaResponse">
<part name="parameters" element="tns:consultaXCedulaResponse"/>
</message>
<message name="suma">
<part name="parameters" element="tns:suma"/>
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse"/>
</message>
<portType name="ConsultaClientes">
<operation name="hello">
<input wsam:Action="http://webservice/ConsultaClientes/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webservice/ConsultaClientes/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="consultaXCedula">
<input wsam:Action="http://webservice/ConsultaClientes/consultaXCedulaRequest" message="tns:consultaXCedula"/>
<output wsam:Action="http://webservice/ConsultaClientes/consultaXCedulaResponse" message="tns:consultaXCedulaResponse"/>
</operation>
<operation name="suma">
<input wsam:Action="http://webservice/ConsultaClientes/sumaRequest" message="tns:suma"/>
<output wsam:Action="http://webservice/ConsultaClientes/sumaResponse" message="tns:sumaResponse"/>
</operation>
</portType>
<binding name="ConsultaClientesPortBinding" type="tns:ConsultaClientes">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaXCedula">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="suma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ConsultaClientes">
<port name="ConsultaClientesPort" binding="tns:ConsultaClientesPortBinding">
<soap:address location="http://localhost:8080/WebServices/ConsultaClientes"/>
</port>
</service>
</definitions>